button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #333;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

#knop-1:hover {
    background-color: red;
    color: blue;
    border: 10px dotted gray;
    box-shadow: 6px 7px 8px black;
    transform: translateY(2px);
}

#knop-2:hover {
    background-color: red;
    color: blue;
    border: 10px dotted gray;
    box-shadow: 6px 7px 8px black;
}

#knop-3:hover {
    background-color: red;
    color: blue;
    border: 10px dotted gray;
    box-shadow: 6px 7px 8px black;
}

#knop-4:hover {
    background-color: red;
    color: blue;
    border: 10px dotted gray;
    box-shadow: 6px 7px 8px black;
}
